
{% extends 'posts/_base.html' %}

{% block content %}

{% for post in posts %}
    <div id="postagens">
        <br>
            <h1>{{ post.title }}</h1>
            <p>{{ post.content }}</p>
            {% if post.image %}
                <img src="{{ post.image.url }}" alt="" width="300" title="{{ post.title }}">
            {% endif %}
            <p class="center">Postado em: {{ post.date }}</p>
            <p class="center">Expira em: {{ post.expiration }}</p>
            <hr size="5">
    </div>
        {% empty %}
        <p>Não há postagens ativas no momento.</p>
    {% endfor %}
</div>
{% endblock %}